
<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
 {{>header}}
    <img class="potrait"src="/img/DSC_0781.jpg" alt="">

    </div>
   
     <p>para1 </p>
{{>footer}}
</body>


</html>