<!DOCTYPE html>
<html>
<head>
<title>Help</title>
<link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">

         {{>header}}  
    </div>
    <img class="potrait"src="/img/need-help.jpg" alt="">
    <p>This page will provide solutions to some frequently occuring problems</p>
   {{>footer}}
</body>


</html>